{% extends 'back/base.html.twig' %}

{% block title %}Page Admin{% endblock %}
{% block targetMenu %} Dashbord {% endblock %}

{% block main %}
    <h3>Bienvenu dans le template de base d'adminstration du plateforme Oriente Jeune</h3><br/>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br/>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br/>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br/>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx <br/>
{% endblock %}
