<header class="site-header">
    <img src="{{asset('assets/images/logo.png')}}" alt="Logo METFP">
        <div class="text-center" style="font-size: large;">
            Portail national d'Orientation et de compétences
        </div>
    <img src="{{asset('assets/images/unescologo.jpg')}}" alt="Logo UNESCO" style="border-radius: 5px;">
</header>